<!-- PRELOADER -->
<div id="page-loader" class="page-loader">
  <div class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->

<div id="overlay-menu" class="overlay-menu">

  <a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="fa fa-times"></i></a>

  <div class="overlay-menu-inner">
    <nav class="overlay-menu-nav">

      <ul id="nav">
        <li>
          <a href="#inicio" class="active hide-overlay"><%= t('home.top_navbar.overlay_menu.top') %></a>
        </li>
        <li class="slidedown">
          <a href="#" class="active"><%= t('home.top_navbar.overlay_menu.chapters') %></a>
        </li>
        <li class="slidedown">
          <a href="#" class=""><%= t('home.top_navbar.overlay_menu.chapters_1_10') %></a>
          <ul class="slidedown">
              <% (1..10).each do |index| %>
                <li>
                  <a href="#link-capitulo-<%= index.to_s %>" class="hide-overlay"><%= t('home.body.book.chapter_' + index.to_s + '.title') %></a>
                </li>
              <% end %>
          </ul>
        </li>

        <li class="slidedown">
          <a href="#" class=""><%= t('home.top_navbar.overlay_menu.chapters_11_20') %></a>
          <ul class="slidedown">
            <% (11..20).each do |index| %>
                <li>
                  <a href="#link-capitulo-<%= index.to_s %>" class="hide-overlay"><%= t('home.body.book.chapter_' + index.to_s + '.title') %></a>
                </li>
            <% end %>
          </ul>
        </li>

        <li class="slidedown">
          <a href="#" class=""><%= t('home.top_navbar.overlay_menu.chapters_21_27') %></a>
          <ul class="slidedown">
            <% (21..27).each do |index| %>
                <li>
                  <a href="#link-capitulo-<%= index.to_s %>" class="hide-overlay"><%= t('home.body.book.chapter_' + index.to_s + '.title') %></a>
                </li>
            <% end %>
          </ul>
        </li>

        <li class="slidedown">
          <a href="#" class=""><%= t('home.top_navbar.overlay_menu.social') %></a>
          <ul>
            <li>
              <%= link_to 'Facebook', 'https://www.facebook.com/El-Principito-1731713937082081/?ref=aymt_homepage_panel', class: 'hide-overlay', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Instagram', 'https://www.instagram.com/el_principito_libro/', class: 'hide-overlay', target: '_blank' %>
            </li>
          </ul>
        </li>

        <li class="slidedown">
          <a href="#" class=""><%= t('home.top_navbar.overlay_menu.language') %></a>
          <ul>
            <li>
              <% Languages::Search.call(state: 'enabled').each do |language| %>
                <li>
                  <% if 'es' == I18n.locale.to_s %>
                      <% if language.name == 'Español' %>
                          <%= link_to url_for(params.merge({locale: language.translation.locale.to_s})), class: 'hide-overlay' do %>
                              <strong><%= language.name %></strong>
                          <% end %>
                      <% else %>
                          <%= link_to language.name, url_for(params.merge({locale: 'en'})), class: 'hide-overlay' %>
                      <% end %>
                  <% else %>
                      <% if language.name == 'English' %>
                          <%= link_to url_for(params.merge({locale: language.translation.locale.to_s})), class: 'hide-overlay' do %>
                              <strong><%= language.name %></strong>
                          <% end %>
                      <% else %>
                          <%= link_to language.name, url_for(params.merge({locale: 'es'})), class: 'hide-overlay' %>
                      <% end %>
                  <% end %>
                </li>
            <% end %>
            </li>
          </ul>
        </li>

      </ul>

    </nav>
  </div>

  <div class="overlay-navigation-footer">

    <div class="container">

      <div class="row">

        <div class="col-sm-12 text-center">
          <p class="copyright font-alt m-b-0">© <%= t('home.footer.year')%> <%= t('home.footer.app_name') %></p>
        </div>

      </div>

    </div>

  </div>

</div>