<div class="row animated fadeInRight">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= _('Peticiones al API') %></h5>
      </div>
      <div class="ibox-content">
        
        <% if @login.api_requests.any? %>

          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th><%= sortable 'id', _('Id') %></th>
                    <th><%= sortable 'logins.id', _('Login') %></th>
                    <th><%= sortable 'users.email', _('Usuario') %></th>
                    <th><%= sortable 'path', _('Path') %></th>
                    <th><%= sortable 'ip', _('IP') %></th>
                    <th><%= sortable 'network_type', _('Red') %></th>
                    <th><%= sortable 'created_at', _('F. creación') %></th>
                  </tr>
                  </thead>
                  <tbody id="api_requests">
                    <%= render partial: 'admin/api_requests/api_request_row', collection: @login.api_requests.order(created_at: :desc).limit(5), as: 'api_request' %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <% if @login.api_requests.count > 5 %>
            <div class="m-b-md">
              <%= link_to _('Ver todas'), admin_api_requests_path(login_id: @login.id), class: 'text-success pull-right' %>
            </div>
          <% end %>
        <% else %>
          <p class="empty-p"><%= _('No hay peticiones al API') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>