<% content_for :title do %>
  <span><%= _('Dispositivos') %></span>
<% end %>

<div class="row animated fadeInRight">
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>
                <%= _('Dispositivos') %>
              </h5>
          </div>
          <div class="ibox-content">
            <%= form_tag admin_devices_path, method: :get do |f| %>
              <div class="row">
                <div class="col-md-4 form-group">
                  <%= label_tag :user_id, _('Marca del dispositivo') %>
                  <%= collection_select(nil, :device_manufacturer_id, DeviceManufacturer.all.order(name: :asc), :id, :name, {include_blank: _('Cualquiera'), selected: @device_manufacturer_id}, {class: 'input-sm form-control'}) %>
                </div>
                <div class="col-md-4 form-group">
                  <%= label_tag :user_id, _('Sistema operativo') %>
                  <%= collection_select(nil, :mobile_operating_system_id, MobileOperatingSystem.all.order(name: :asc), :id, :name, {include_blank: _('Cualquiera'), selected: @mobile_operating_system_id}, {class: 'input-sm form-control'}) %>
                </div>
                <div class="col-md-4 form-group">
                  <%= label_tag :user_id, _('Usuario') %>
                  <%= collection_select(nil, :user_id, User.all.order(email: :asc), :id, :email, {include_blank: _('Cualquiera'), selected: @user_id}, {class: 'input-sm form-control'}) %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <%= submit_tag _('Filtrar'), class: 'btn btn-sm btn-default search-button pull-right' %>
                </div>
              </div>
            <% end %>

            <div class="hr-line-dashed"></div>
            
            <% if @devices.any? %>
              <div class="table-responsive">
                
                <table class="table table-hover">
                    <thead>
                    <tr>
                      <th><%= sortable 'id', _('Id') %></th>
                      <th><%= _('Identificador') %></th>
                      <th><%= sortable 'device_manufacturers.name', _('Marca') %></th>
                      <th><%= _('Modelo') %></th>
                      <th><%= sortable 'mobile_operating_systems.name', _('Sistema operativo') %></th>
                      <th><%= sortable 'mobile_operating_system_versions.name', _('Versión del SO') %></th>
                      <th><%= sortable 'users.email', _('Usuario') %></th>
                      <th><%= sortable 'created_at', _('F. creación') %></th>
                    </tr>
                    </thead>
                    <tbody id="devices">
                      <%= render partial: 'device_row', collection: @devices, as: 'device' %>
                    </tbody>
                </table>

              </div>
            <% else %>
              <p class="empty-p"><%= _('No hay dispositivos') %></p>
            <% end %>
          </div>
      </div>
      <div id="page_entries_info">
        <%= page_entries_info @devices, entry_name: 'dispositivos' %>
      </div>
      <div id="paginator">
        <%= paginate @devices %>
      </div>
    
  </div>
</div>