<div class="container capitulo8" id="capitulo8">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_8.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_8.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_9') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen20.png') %>" class="center-block img-responsive" alt="El Principito regando su rosa">
      <br>
      <p><%= t('home.body.book.chapter_8.paragraph_10') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_11') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_12') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_14') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_15') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_18') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_19') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen21b.png') %>" class="center-block img-responsive" alt="El Principito le pone un biombo a su Rosa">
      <br>
      <p><%= t('home.body.book.chapter_8.paragraph_20') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_21') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_22') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_23') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_24') %></p>
      <p><%= t('home.body.book.chapter_8.paragraph_25') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>