<div class="container capitulo25" id="capitulo25">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_25.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_25.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_10') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_11') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_12') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_14') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_15') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_18') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_19') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_20') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_21') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_22') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_23') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_24') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_25') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_26') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_27') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_28') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_29') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_30') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_31') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_32') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_33') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_34') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_35') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_36') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_37') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_38') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_39') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_40') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_41') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_42') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_43') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_44') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_45') %></p>
      <p><%= t('home.body.book.chapter_25.paragraph_46') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>