<div class="container capitulo17" id="capitulo17">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_17.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_17.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_3') %></p>
      <br>
      <img src="imagenes/imagen31.png" class="center-block img-responsive" alt="El Principito llega a la tierra">
      <p class="text-center"><em><%= t('home.body.book.chapter_17.paragraph_4') %></em></p>
      <br>
      <p><%= t('home.body.book.chapter_17.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_10') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_11') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_12') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_14') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_15') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_18') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_19') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_20') %></p>
      <br>
      <img src="imagenes/imagen32.jpg" class="center-block img-responsive imagen32" alt="El Principito y la serpiente">
      <p class="text-center"><em><%= t('home.body.book.chapter_17.paragraph_21') %></em></p>
      <br>
      <p><%= t('home.body.book.chapter_17.paragraph_22') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_23') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_24') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_25') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_26') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_27') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_28') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_29') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_30') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_31') %></p>
      <p><%= t('home.body.book.chapter_17.paragraph_32') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>