<div class="container capitulo1" id="capitulo1">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_1.title') %></h1>
      <br>
      <img src="<%= image_path('imagenes/imagen1b.png') %>" class="center-block img-responsive" alt="Serpiente Boa se traga a su presa (El Principito)">
      <br>
      <p><%= t('home.body.book.chapter_1.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_1.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_1.paragraph_3') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen2.png') %>" class="center-block img-responsive" alt="Boa cerrada, dibujo El principito">
      <br>
      <p><%= t('home.body.book.chapter_1.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_1.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_1.paragraph_6') %></p>
      </p>
      <br>
      <img src="<%= image_path('imagenes/imagen3.png') %>" class="center-block img-responsive" alt="Boa abierta, dibujo El principito">
      <br>
      <p><%= t('home.body.book.chapter_1.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_1.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_1.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_1.paragraph_10') %></p>

    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>
<div id="link-capitulo-2"></div>