<div class="container capitulo4" id="capitulo4">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_4.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_4.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_4.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_4.paragraph_3') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen11.png') %>" class="center-block img-responsive" alt="Astronomo Turco observa el Planeta de El Principito">
      <br>
      <p><%= t('home.body.book.chapter_4.paragraph_4') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen12.png') %>" class="center-block img-responsive" alt="Astronomo turco hace demostracion mal vestido (El Principito)">
      <br>
      <p><%= t('home.body.book.chapter_4.paragraph_5') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen13.png') %>" class="center-block img-responsive" alt="Astronomo turco hace demostracion bien vestido (El Principito)">
      <br>
      <p><%= t('home.body.book.chapter_4.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_4.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_4.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_4.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_4.paragraph_10') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>
<div id="link-capitulo-5"></div>