<div class="container capitulo26" id="capitulo26">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_26.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_26.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_10') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_11') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen42.png') %>" class="center-block img-responsive" alt="El Principito en lo alto del muro">
      <p class="text-center"><em><%= t('home.body.book.chapter_26.paragraph_12') %></em></p>
      <br>
      <p><%= t('home.body.book.chapter_26.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_14') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_15') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_18') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_19') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_20') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_21') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_22') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_23') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_24') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_25') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_26') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_27') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_28') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_29') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_30') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_31') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_32') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_33') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_34') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_35') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_36') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_37') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_38') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_39') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_40') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_41') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_42') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_43') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_44') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_45') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_46') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_47') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_48') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_49') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_50') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_51') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_52') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_53') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_54') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_55') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_56') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_57') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_58') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_59') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_60') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_61') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_62') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_63') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_64') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_65') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_66') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_67') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_68') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_69') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_70') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_71') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_72') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_73') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_74') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_75') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_76') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_77') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_78') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_79') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_80') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_81') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_82') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_83') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_84') %></p>
      <p><%= t('home.body.book.chapter_26.paragraph_85') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen45.png') %>" class="center-block img-responsive" alt="El Principito cayó como un arbol">
      <p class="text-center"><em><%= t('home.body.book.chapter_26.paragraph_86') %></em></p>
      <br>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>