<div class="container capitulo21" id="capitulo21">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_21.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_21.paragraph_1') %></p>
      <br>
      <img src="imagenes/imagen36.png" class="center-block img-responsive" alt="El Principito y el Zorro">
      <br>
      <p><%= t('home.body.book.chapter_21.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_10') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_11') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_12') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_14') %></p>
      <br>
      <img src="imagenes/imagen37.png" class="center-block img-responsive" alt="El Cazador, el Zorro y el Principito">
      <br>
      <p><%= t('home.body.book.chapter_21.paragraph_15') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_18') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_19') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_20') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_21') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_22') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_23') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_24') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_25') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_26') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_27') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_28') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_29') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_30') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_31') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_32') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_33') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_34') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_35') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_36') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_37') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_38') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_39') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_40') %></p>
      <br>
      <img src="imagenes/imagen38.png" class="center-block img-responsive" alt="Si vienes, por ejemplo, a las cuatro de la tarde, comenzaré a ser feliz desde las tres.">
      <p class="text-center"><em><%= t('home.body.book.chapter_21.paragraph_41') %></em></p>
      <br>
      <p><%= t('home.body.book.chapter_21.paragraph_42') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_43') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_44') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_45') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_46') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_47') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_48') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_49') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_50') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_51') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_52') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_53') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_54') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_55') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_56') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_57') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_58') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_59') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_60') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_61') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_62') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_63') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_64') %></p>
      <p><%= t('home.body.book.chapter_21.paragraph_65') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>