<div class="container capitulo23" id="capitulo23">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_23.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_23.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_23.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_23.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_23.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_23.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_23.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_23.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_23.paragraph_8') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>