<div class="container capitulo5" id="capitulo5">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_5.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_5.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_10') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen14b.png') %>" class="center-block img-responsive" alt="Elefantes unos sobre otros (El Principito)">
      <br>
      <p><%= t('home.body.book.chapter_5.paragraph_11') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_12') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_14') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_15') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen15b.png') %>" class="center-block img-responsive" alt="El Principito quitando la mala hierba de su planeta">
      <br>
      <p><%= t('home.body.book.chapter_5.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_5.paragraph_18') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen16c.png') %>" class="center-block img-responsive" alt="Boababs">
      <p class="text-center"><em><%= t('home.body.book.chapter_5.paragraph_19') %></em></p>
      <br>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>
<div id="link-capitulo-6"></div>