<div class="container capitulo16" id="capitulo16">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_16.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_16.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_16.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_16.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_16.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_16.paragraph_5') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>