<div class="container capitulo3" id="capitulo3">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_3.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_3.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_2') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_10') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_11') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_12') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_14') %></p>
      <br>
      <img src="<%= image_path('imagenes/imagen9.png') %>" class="center-block img-responsive"  alt="El Principito contemplando su tesoro">
      <br>
      <p><%= t('home.body.book.chapter_3.paragraph_15') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_18') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_19') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_20') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_21') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_22') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_23') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_24') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_25') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_26') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_27') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_28') %></p>
      <p><%= t('home.body.book.chapter_3.paragraph_29') %></p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>
<div id="link-capitulo-4"></div>