<div class="container capitulo24" id="capitulo24">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <h1><%= t('home.body.book.chapter_24.title') %></h1>
      <br>
      <p><%= t('home.body.book.chapter_24.paragraph_1') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_2') %></p>
      <br>
      <img src="imagenes/imagen40.png" class="center-block img-responsive" alt="El Principito y la Fuente">
      <br>
      <p><%= t('home.body.book.chapter_24.paragraph_3') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_4') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_5') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_6') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_7') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_8') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_9') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_10') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_11') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_12') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_13') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_14') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_15') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_16') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_17') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_18') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_19') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_20') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_21') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_22') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_23') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_24') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_25') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_26') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_27') %></p>
      <p><%= t('home.body.book.chapter_24.paragraph_28') %></p>
      <br>
      <img src="imagenes/imagen41b.png" class="center-block img-responsive" alt="El Principito descubre el Pozo">
      <p class="text-center"><em><%= t('home.body.book.chapter_24.paragraph_29') %></em></p>
      <br>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>