<%= render partial: 'public/home/index/parallax_stars' %>
<%= render partial: 'public/home/index/portada' %>
<div class="contenedor container-fluid">
  <%= render partial: 'public/home/index/prologo' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_1' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_2' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_3' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_4' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_5' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_6' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_7' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_8' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_9' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_10' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_11' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_12' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_13' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_14' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_15' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_16' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_17' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_18' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_19' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_20' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_21' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_22' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_23' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_24' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_25' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_26' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_27' %>
  <hr class="separador">
  <%= render partial: 'public/home/index/capitulo_final' %>
  <br>
  <br>
  <br>
</div>

